{% extends "base.html.twig" %}
{% block page_sub_header "Paso 1/2 - Sucursal" %}
{% block body %}
    <p>Selecciona la sucursal para la cual desea ingresar su orden de compra.</p>
    {% for sucursal in data.sucursales %}
        <a class="btn btn-bg btn-info" style="margin:5px;min-width: 200px;" href="{{ path('compras_ingreso__seleccionar_productos', {sucursal: sucursal.id}) }} ">{{ sucursal.nombre }}</a><br />
    {% endfor %}
    
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(function () {
        });
    </script>
{% endblock %}