{% extends '::base.html.twig' %}

{% block page_sub_header %}Nueva sucursal{% endblock %}

{% block body -%}
    
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sucursales') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
