{% extends 'base.html.twig' %}

{% block page_sub_header %}Totales de dia{% endblock %}

{% block body %}
    <div class="text-center">
        <input id="datetimepicker" type="text" >
    </div>
    <div id="contenedor-ventas"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $('#datetimepicker').datetimepicker({inline:true,format:'Y-m-d+H:i:59', maxDate:0, step:5});
            $("#contenedor-ventas").load('{{ path('app_ws_sucursales_totales') }}');
            $('#datetimepicker').change(function(){
                $("#contenedor-ventas").load('{{ path('app_ws_sucursales_totales') }}/'+$(this).val());
            });
        });        
    </script>
{% endblock %}