{% extends '::base.html.twig' %}

{% block page_sub_header %}Compras: edición de producto{% endblock %}

{% block body -%}

    {{ form(edit_form) }}
    <table class="table table-condensed">
        <tr>
            <td class="col-md-6">
                <a class="btn btn-default" href="{{ path('compras_productos_unidades') }}">
                    Regresar a la lista
                </a>
            </td>
            <td class="col-md-6 text-right">{{ form(delete_form) }}</td>
        </tr>
    </table>
{% endblock %}
