{% extends '::base.html.twig' %}

{% block page_sub_header %}Nuevo empleado{% endblock %}

{% block body -%}

    {{ form(form) }}

    <a class="btn btn-primary" href="{{ path('empleados') }}">
        Regresar a la lista
    </a>
{% endblock %}
