{% extends '::base.html.twig' %}

{% block page_sub_header %}Compras: nuevo proveedor{% endblock %}

{% block body -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('compras_proveedores') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
